body {
    padding: 0px;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
                background-size: cover;

    transition: background 0.5s;
}

.white {
        background: white;
        transition: background 0.5s;
}

.bastar {
    background-image: url('bastar-background.jpg');
        transition: background 0.5s;
}


#bastar {
    height: 180vh;
    
}

#map-changer img {
    width: 100px;
}

.lightpink {
    background: lightpink;
        transition: background 0.5s;
}

.lightblue {
    background: lightblue;
        transition: background 0.5s;
}

.lightgreen {
    background: lightgreen;
        transition: background 0.5s;
}


#container {
    width: 80vw;
height: 100vh;
display: flex;
flex-direction: ;
justify-content: center;
align-items: center;  
    position: relative;
    overflow:hidden;
}

#narrative {
width: 20vw;
height: calc(100vh - 40px);
    background-color: #eee;
    padding: 20px;
    overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#narrative::-webkit-scrollbar {
    display: none;
}


h1 {
    font-family: times;
    font-size: 30px;
    margin:0;
    font-weight: 500;
    width:100%;
    padding: 20px 0 20px 0;
    color: #333;
    text-align: left;
/*    display: none;*/
}




h2 {
            font-size: 18px;
        font-weight: bold;
    color:black;

    margin-bottom: 20px;
    
}




.definition {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#competition {
    height: 180vh;
}

#toilets-sba {
    width:250px;
}

#gps-garbage {
    width: 200px;
}

#electrification {
    width:200px;
}

#streetlights {
    width: 300px;
}

.subtitle {
    margin: 0;
    padding: 20px 0;
    color: grey;
    font-family: verdana;
    background-color:none;
    width: 100%;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
}


.subtitle2 {
    background-color:#eee;
    border-bottom: none;
    border: none;
    color: black;
}



.subtitle #total {
/*
    position: absolute;
    right: 5%;
*/
    line-height: 20px;
    color: #222;
}

.subtitle #total #number {
    font-size: 30px;
    background-color: lightcoral;
    padding: 5px;
    color: white;
    border-radius: 5px;
}


#hand-img {
    width: 100px;
}

p {
    margin: 0; padding: 0; margin-bottom: 10px;
    font-size: 18px;
}
.grid-object {
        margin-top:0;
    box-sizing: content-box;
    width:600px;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    display: none;
    box-shadow: 0px 0px 10px #333;
}

.grid-object:hover {
    border: 5px solid lightgreen;
}




.grid-object:nth-of-type(4n) {
    width: 700px;
    margin-left: 100px;
    margin-top:200px;
}


.grid-object:nth-of-type(4n+1) {
    width: 500px;
    margin-top: -100px;
    margin-left: -400px;
}


.grid-object:nth-of-type(4n+2) {
    width: 600px;
    margin-top: -200px;
    margin-left: 250px;
}


.grid-object:nth-of-type(4n+3) {
    width: 600px;
    margin-top: 150px;
    margin-left: -250px;
}



#grid-3 {
    position: absolute;
    width: 600px;
    top: 0px;
    left: 900px;
}

#grid-4 {
    position: absolute;
    width: 600px;
    top: -60px;
    left: 700px
}

.img-block {
    position: relative;
margin-top:100px;
}

.img-link {
display: none;
}

.img-block:hover > .img-link {
display: block;
    position: absolute;
background: white;
padding: 10px;
}






.caption {
    font-family: verdana;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: .9px blue;
    position: fixed;
    z-index:1100;
    bottom:40px;
    right: 40px;
    text-align: center;
    display: none;
    -webkit-text-stroke: 0px;
    color: black;
        padding: 1em;
    background:#fff;
    border: 0px solid black;
    border-radius: 10px;
    border: 1px solid gray;
    width: 400px;
}




.caption a:visited {
    color: black;
}

.howto {
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left:20px;
    color: gray;
}


.active {
    display: block;
}

img {

    width: 100%;
    height: auto;
}

/*
.slider {
    width: 400px;
    position:absolute;
    left: 200px;
}

#container {
    display: flex;
    flex-direction: row;
}

#sliders-container {
    position: fixed;
    bottom: 100px;
    width:650px;
    
    background-color: #eee;
padding: 40px;
}
*/



#starratings {
    width: 200px;
    margin-top: 100px;
}

#coc-bar-chart {
    margin-left: -450px;
}

#coc-ranking {
    margin-top: 300px;
}


.big {
    width: 700px !important;
    z-index: 1000;

}

.big.grid-object-leapfrog-section {
    width: 400px !important;
}


.big .caption {
    display: block;
}

.low-frequency{
    z-index:10000;
}

#leapfrog-section, #adp-rc-section {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-around;
    position: absolute;
        display: none;

}



.grid-object-leapfrog-section, .adp-rc {
    position: static;
    margin: 0 !important;
    display: block;
    visibility: hidden;
}

.adp-rc {
    display: none;
}

.active {
    display: block;
    visibility: visible;
}

.flex-active {
    display: flex !important;
    visibility: visible !important;
}

.active-link {
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
}

#background-text {
    padding: 100px;
    font-size: 36px;
    color: #999;
}

a, a:visited, a:active {
    color: green;
    outline: none;
}

p {
    user-select: none;
    cursor: default;
}



#leapfrogging-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}



/*
Landing
*/

#landing {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background: #eee;
    padding: 20px;
}

#landing h1 {
    flex-basis: 100%;
    text-align: center;
    margin-top:50px;
    margin-bottom: 25px;
}

/*#landing #real-time h2 {
    font-family: digital-7;
}*/


#landing .definition {
    box-sizing: border-box;
    height: 200px;
    width: 400px;
    background: white;
    display: flex; justify-content: center; align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin:50px;

}



#landing .definition:nth-of-type(4n) {
    background-color: lightpink;
}

#landing .definition:nth-of-type(4n+1) {
    background-color: lightblue;
}

#landing .definition:nth-of-type(4n+2) {
    background-color: lightgreen;
}

#landing .definition:nth-of-type(4n+3) {
    background-color: lightyellow;
}



#landing #bastar img {
    width: 200px;
}

@font-face {
    font-family: 'digital-7';
    src: url('digital-7_italic-webfont.woff2') format('woff2'),
         url('digital-7_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



#home {
    position: fixed;
    width: 100px;
    left:calc(50vw - 50px);
    top:50px;
    
    z-index: 1000000;
}
